@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}

.not-selectable {
  user-select: none;
}

/* HEADER */
#top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#top-bar p {
  letter-spacing: 0.5px;
  font-size: 20px;
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
}

#title-second-part {
  color: #FF385C;
  font-weight: 600;
}

input[type="text"] {
  border-radius: 20px;
  border-style: solid;
  width: 50%;
  margin: 0 5%;
  padding: 10px;
}

nav {
  justify-content: center;
  margin-right: 10px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li:first-child {
  margin-right: 10px;
}

.navigation-button {
  border-radius: 10px;
  padding: 15px;
  white-space: nowrap;
  background-color: transparent;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navigation-button:hover {
  background-color: #FF385C;
}

#introduction {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(popcorn-4885565_960_720.jpg), no-repeat, center;
  background-size: cover;
}

#introduction p {
  color: white;
  margin: 0;
  padding: 10%;
  font-size: 60px;
  width: 35%;
}

.highlighted {
  color: #FF385C;
}

/* MOVIES */
#movies:first-child {
  margin-top: 30px;
  padding-left: 10px;
}

#movies span {
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 3px solid #FF385C;
}

#movie-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-left: 0;
}

#movie-container ul li {
  list-style: none;
}


.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 7px;
  transition: filter 0.3s ease-out;
}

.movie-card {
  width: 30vw;
  max-width: 180px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.movie-card img:hover {
  filter: brightness(70%);
}

@media screen and (max-width: 1000px) {
  #introduction p {
    font-size: 40px;
  }

  input[type="text"] {
    width: 35%;
  }
}

@media screen and (max-width: 600px) {
  #introduction p {
    font-size: 40px;
    width: 60%;
  }

  #top-bar p {
    font-size: 17px;
  }

  #top-bar {
    height: 100px;
  }

  .navigation-button {
    font-size: 13px;
  }
}

/* FOOTER */
footer {
  background-color: wheat;
}

footer > ul {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer li {
  display: inline-block;
}

#social-media {
  float: right;
}

#social-media li {
  margin-right: 10px;
}

#social-media li {
  font-size: 20px;
}
