body {
  background-image : url(design-space-paper-textured-background_53876-42312.avif);
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

input {
  -webkit-appearance: none;
  height: 10px;
  background-color: gray;
  outline: none;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: black;
  cursor: pointer;
}

#container *:not(:last-child) {
  user-select: none;
}

#board {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 270px;
  user-select: none;
}

.block {
  border: 0.1px solid gray;
  width: 25px;
  height: 25px;
}

.selected {
  background-color: darkmagenta;
}

#button-container button {
  margin-top: 15px;
  padding: 8px;
  background: linear-gradient(to bottom right, #660099, #ff99cc);
}

#button-container button:first-child {
  margin-right: 10px;
}