body {
  background-image : url(design-space-paper-textured-background_53876-42312.avif);
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  background-color: gray;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: black;
  cursor: pointer;
}

#container *:not(:last-child) {
  user-select: none;
}

#board {
  display: grid;
  position: relative;
  margin-top: 30px;
  user-select: none;
}

.block {
  border: 0.1px solid gray;
  width: 25px;
  height: 25px;
}

.selected {
  transition: 0.2s ease;
}

#button-container {
  user-select: none;
}

#button-container button {
  display: none;
  margin-top: 15px;
  padding: 8px;
  background: linear-gradient(rgb(189,192,197), rgb(233,234,238));
  border-style: dotted;
}

#button-container button.selected-button {
  border-style: solid;
}

#button-container button:first-child {
  margin-right: 10px;
}

#side-bar {
  display: none;
  position: absolute;
  top: 45%;
  left: -70px;
}

#side-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

input[type="color"] {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
}

#clear {
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;
  font-size: 15px;
}

#clear:hover {
  background-color: gray;
}
